body{
	background:#E9F4F5;
	font: 150% 'Open Sans', sans-serif;
}

ul{
	list-style-type: none;
	padding:0;
}

footer{
	text-align: center;
}

.social-login{
	font-size:2.5em;
}

.social-login li{
	display:inline-block;
}